{% extends 'landing/base.html' %}{% load bootstrap4 %}{% block content %}
<div class="container-fluid landing">
    <div class="text-center">
        <div class="he">
            <h1 class="ne animated slideInLeft">~Neighbourhood Watch~</h1>
            <p class="we animated zoomIn" style="animation-delay:1s">Welcome to the neighbourhood watch a web page that lets you take care of your neighbours welfare with just a watch, no spying, no stalking</p>
            <div class="sign">
                <button class="btn btn-primary btn-sm"><a href="/accounts/login"><span id="ge">Sign in</span></a></button>
            </div>
        </div>

    </div>
</div>
{% endblock %}