.he {
    padding: 25%;
    color: white;
}

.landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url('https://vignette.wikia.nocookie.net/family-guy-fanverse/images/1/1f/Spooner_street_by_LsL925.png/revision/latest?cb=20140215144154');
    background-size: cover;
    background-attachment: fixed;
}

.ho {
    color: white;
}

.sign {
    padding-top: 45px;
    color: white;
}

#ge {
    color: white;
}

.reg {
    padding-top: 25px;
    height: 50%;
}

.up {
    padding-top: 15px;
}

.log {
    padding: 25px;
}

.ha {
    margin-left: 15px;
}